[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/LucasWilkinson
[access "refs/for/refs/*"]
	read = group user/LucasWilkinson
	push = group user/LucasWilkinson
	label-Code-Review = -2..+2 group user/LucasWilkinson
	label-Verified = -1..+1 group user/LucasWilkinson
	rebase = group user/LucasWilkinson
	removeReviewer = group user/LucasWilkinson
	submit = group user/LucasWilkinson
[access "refs/heads/*"]
	read = group user/LucasWilkinson
	create = group user/LucasWilkinson
	push = +force group user/LucasWilkinson
	pushMerge = group user/LucasWilkinson
[access "refs/tags/*"]
	push = +force group user/LucasWilkinson
	pushTag = group user/LucasWilkinson
	pushSignedTag = group user/LucasWilkinson
